.photo-upload {
  height: auto;
  margin: 20px 0;
  position: relative;
  text-align: center;
  width: 100%;
}
.input-file {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}
.input-file:focus + label {
  border-color: #0070d3;
}
.input-file + label {
  background: transparent;
  border: 2px solid #888;  
  color: #5b5b5b;
  display: inline-block;
  font-size: 12pt;
  font-weight: 500;
  height: 200px;
  line-height: 200px;
  text-align: center;
  width: 200px;
}
.input-file + label:hover,
.input-file + label:focus {
  border-color: #0070d3;
  cursor: pointer;
}
.image-preview {  
  height: 200px;
  left: -4px;
  margin: 0 auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}
.image-preview__img {
  border: 2px solid #888;  
  height: 200px;
  object-fit: cover;
  object-position: center;
  width: 200px;
}
.badge-info{
  background: #206bc4;
}
.badge-success{
  background: #2fb344;
}
.badge-warning{
  background: #f76707;
}